@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

h1,h2,h3,h4,h5,h6 {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* Spacing */
.full-height {
    height: 100vh;
}

/* Components */

button {
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    background: #ca7030;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
}

/* ---------------------------------------- */
/* Bootstrap Component Overrides */

/* Navigation */

.nav-link {
    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.60);
}

.nav-link:hover {
    color: #302779;
}

.nav-link.active {
    border-bottom: 2px solid #302779;
    color: #302779;
}

.navbar {
    background-color: rgb(255, 201, 172);
}

/* Carousel */

.carousel-item {
    background-color: rgb(255, 255, 255);
}

.carousel-control-next, .carousel-control-prev {
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.carousel-control-next {
    left: 84px;
}


/* ---------------------------------------------------------------- */
/* Home Page */

.hero-image {
    height: 90vh; 
    position: relative;
    bottom: -100px;
}

/* Styling for accordion */
.accordion {
    display: flex;
    flex-direction: column;
}

.accordion-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.accordion-item-header {
    font-weight: bold;
    cursor: pointer;
}

.accordion-item-content {
    display: none;
    margin-top: 10px;
}

/* Styling for accordion icons */
.accordion-item-header::after {
    content: "\25BE"; /* Down arrow */
    float: right;
}

.accordion-item.active .accordion-item-header::after {
    content: "\25B4"; /* Up arrow */
}

/* Styling for cards */
.card {
    border: 1px solid #4f4f4f;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.card.active {
    border-color: #007bff; /* Change color to indicate active */
}

.card .info {
    font-weight: bold;
}

.card .details {
    margin-top: 10px;
}  

.h2 {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(255, 201, 172);
}

.footer-left,
.footer-middle,
.footer-right {
    flex: 1;
    text-align: center;
}

.footer-left p {
    margin: 0;
    color: white;
}

.footer-middle img {
    max-width: 100px;
}
  
.footer-right a {
    color: white;
    margin: 0 5px;
    font-size: 20px;
    text-decoration: none;
}
  
.footer-right a:hover {
    color: #ddd;
}
  
.row {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.btn{
    padding: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 5px;
    background-color: rgb(255, 201, 172);
    border: none;
    margin: 10px;
}
  
.btn.secondary{
    background-color: rgb(203, 131, 93);
}
  
.btn:hover{
    background-color: rgb(203, 131, 93);
    transition: 0.3s;
}
  
.btn:active{
    background-color: rgb(255, 201, 172);
}
  
.btn.secondary:active{
    background-color: rgb(255, 201, 172);
}

.vinyls-sold-banner{
    color: rgb(255, 201, 172);
}
  
.vinyls-sold-number{
    color:  rgb(203, 131, 93);
} 

  
.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
  
.section select{
    width: 4rem;
}
  
.section label{
    color: rgb(203, 131, 93);
}
  


.container{
  margin-left: auto;
  margin-right: auto;
}



.weather-widget {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.weather-header {
  text-align: center;
  margin-bottom: 10px;
}

.weather-content {
  text-align: center;
}

.location {
  font-size: 18px;
  margin-bottom: 10px;
}

.temperature {
  font-size: 24px;
  font-weight: bold;
}

.description {
  font-size: 16px;
}
